body {
  background: #223043;
  color: white;
  padding: 40px 50px;
  font-family: "Poppins", sans-serif !important;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

b {
  width: 300px;
  display: flex;
  align-items: center;
}

.card .img-top {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

a {
  background: #bc63d6 !important;
  color: white !important;
  font-size: 23px !important;
}

.card {
  background-color: #1e2b3f !important;
  color: white;
}

.card a {
  background: #9ccb56 !important
}

.card a:hover {
  background: #799d43  !important
}

#Buscar-Btn {
  background-color: rgb(178 76 99);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.781);
}

#Buscar-Btn:hover {
  color: white !important;
}
